* {
    /*user-select: none;*/
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
}

html, body {width: 100%; height: 100%;}

.text {margin: 0.5em;}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left {text-align: left;}

.flex {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.content {
    text-align: center;
    width: 80%;
    height: auto;
}

textarea {
    color: rgb(0, 0, 0);
    width: calc(100% - 10px);
    height: auto;
    min-height: 200px;
    resize: none;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    padding: 10px;
    background: rgb(255, 255, 255);
    font-size: 1.2em;
    overflow: hidden;
}

textarea::placeholder {color: #757575;}

#input {background: rgb(255, 255, 255);}
#output {background: rgb(221, 221, 221);}

button {
    font-size: 18px;
    color: #ffffff;
    background: #5a5a5a;
    border: none;
    border-radius: 10px;

    width: calc(100% - 10px);
    margin: 2px;
    padding: .8em 1.5em;
    line-height: 18px;
    white-space: nowrap;
    display: inline;
    position: relative;
    transition: 0.25s;
}

#papago {background-color: #2cc86e;}
#papago:hover {background-color: #000000; color: #2cc86e;}

#google {background-color: #4f8af1;}
#google:hover {background-color: #000000; color: #4f8af1;}

button:hover {background-color: #000000;}

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, 0.35);
    color: #ffffff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}